.notSlected {
    color: rgb(219, 218, 218);
}

.adminPage {
    border: 2px solid rgb(219, 218, 218);
    border-radius: 10px;
}

.orderImg {
    width: 70%;
    border: 1px solid transparent;
    border-radius: 10px;
}

.fontColor {
    color: #1559B6;
}

.orderItem {
    position: relative;
    padding-bottom: 10px;
    margin-right: 15px;
}

.orderItem::after {
    content: " ";
    width: 50%;
    border: 1px solid rgb(219, 218, 218);
    position: absolute;
    top: 100%;
    left: 25%;
}

.adminButton {
    width: 50%;
    height: 5vh;
    background-color: rgb(177, 176, 176);
    color: black;
    font-weight: 700;
    border-radius: 5px;

}

.adminButton2 {
    width: 80%;
    height: 5vh;
    background-color: rgb(177, 176, 176);
    color: black;
    font-weight: 700;
    border-radius: 5px;

}

.adminCardInfo {
    font-size: 14px;
}





.descriptiobAdmin {
    max-height: 100px;
    overflow-y: auto;
}

.descriptiobAdmin::-webkit-scrollbar {
    width: 10px;
}

.descriptiobAdmin::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.descriptiobAdmin::-webkit-scrollbar-thumb {
    background-color: #ededed;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;

}

.descriptiobAdmin::-webkit-scrollbar-thumb:hover {
    background-color: #b0afaf;

}


.approve-products {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.h2-approve {
    text-align: center;
    border-bottom: 8px solid rgb(26, 25, 25);
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 5px;

}

.table {
    margin-top: 20px;
    text-align: center;
}




@media (max-width: 768px) {
    .descriptiobAdmin {
        max-height: 80px;
    }

    h3 {
        font-size: 16px;
    }

    .orderImg {
        width: 150%;
    }

    .adminCardInfo {
        font-size: 8px;
    }

    .adminButton2 {
        font-size: 8px;
        width: 100%;
    }
}